<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>vue</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
		integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
		crossorigin="anonymous" />
	<link rel="stylesheet" href="./assets/css/master.css">
</head>

<body>
	<div id="root">

		<div id="backBackground">
			<div class="greenPart"></div>
			<div class="greyPart"></div>
		</div>

		<div id="container">
			<aside>
				<div class="myProfile">

					<div class="left">
						<img src="./assets/img/avatar_io.jpg" alt="">
					</div>

					<div class="right">
						<i class="fas fa-circle-notch"></i>
						<i class="far fa-comment-alt"></i>
						<i @click='array' class="fas fa-ellipsis-v"></i>
					</div>
				</div>

				<div class="spamNotification">
					<i class="fas fa-bell-slash"></i>
					<div class="nameAndInfo">
						<h3>Ricevi notifiche di nuovi messaggi</h3>
						<p>Attiva notifiche dexstop ></p>
					</div>
				</div>

				<div class="searchContact">
					<input placeholder="Cerca o inizia una nuova chat" type="text">
				</div>

				<!-- lista di contatti presenti nel aside bar -->
				<div class="contact">
					<!-- il singolo contatto che si crea tot volte
					per la lunghezza dell array e che al click cambia focus -->
					<div @click="ChangeChat(contact)"
					v-for=" contact in intOrderedArray"
					:class="(contact.visible) ? 'active' : ''"
					class="chat">
						<img :src="`./assets/img/avatar${contact.avatar}.jpg`" alt="">
						<div class="nameAndInfo">
							<!-- prendo gli elementi dal oggetto della singola chat -->
							<h3>{{ contact.name }}</h3>
							<p>{{ contact.messages[contact.messages.length-1].text }}</p>
						</div>
						<div class="data">{{ contact.messages[contact.messages.length-1].date.split(' ')[1] }}</div>
					</div>
				</div>
			</aside>

			<main>

				<!-- creo il profilo avatar da mettere nella navbar sopra
				la mainChat che cambii in base a quale chat e' selezionata -->
				<div v-if="contact.visible" v-for="contact in contactsArray" class="profileConversator">
					<div class="left">
						<img :src="contactProfile" alt="">
						<div class="nameAndInfo">
							<!-- prendo gli elementi dal oggetto della singola chat -->
							<h3>{{ contact.name }}</h3>
							<p>Ultimo accesso oggi alle ore {{ contact.messages[contact.messages.length-1].date.split(' ')[1] }}</p>
						</div>
					</div>

					<div class="right">
						<i class="fas fa-search"></i>
						<i class="fas fa-ellipsis-v"></i>
					</div>
				</div>

				<!-- creo il for per ciclare le mainChat in base a quale persona seleziono -->
				<div v-if="contact.visible" v-for="contact in contactsArray" class="mainChat">
					<!-- creo un ulteriore for per ciclare i messaggi interni alle chat e scriverli -->
					<div v-for="message in contact.messages" :class="message.status" class="message">
							<!-- prendo gli elementi del arrey di messaggi -->
						<div class="textMessage">{{ message.text }}</div>
						<div class="dataAndCheck">{{ message.date.split(' ')[1] }}<i class="check fas fa-check"></i></div>
						<i class="fas fa-caret-down triangolino"></i>
						<!-- <i class="fas fa-check-double"></i> per cambiarlo in doppio ceck -->
					</div>
				</div>

				<!-- serve per poter scrivere i messaggi -->
				<div class="newMesage">
					<i class="far fa-meh"></i>
					<i class="fas fa-paperclip"></i>
					<input v-on:keyup.enter="sendingMessage" v-model="newMessage" placeholder="scrivi un messaggio" type="text">
					<i class="fas fa-microphone"></i>
				</div>
			</main>
		</div>




		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="./assets/js/dati.js"></script>
		<script src="./assets/js/main.js"></script>
	</div>
</body>

</html>