body{
	padding: 0;
	margin: 0;
}
*{
	box-sizing: border-box;
}
/* #region general comand */
.nameAndInfo{
	display: inline-block;
	margin-left: 10px;
}
.nameAndInfo h3,  .nameAndInfo p{
	margin: 5px 0;
	font-weight: normal;
	color: grey;
}

/* #region scrollbar chrome */
::-webkit-scrollbar {
    width: 6px!important;
    height: 6px!important;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.2);
}
::-webkit-scrollbar-track {
    background: hsla(0,0%,100%,.1);
}
/* #endregion */
/* #endregion */

/* #region backBackground */
#backBackground .greenPart{
	background-color: #009688;
	width: 100%;
	height: 130px;
}
#backBackground .greyPart{
	background-color: #DADBD4;
	width: 100%;
	height: calc(100vh - 130px);
}
/* #endregion */
/* #region layout */
/* #region positionament container */
#container{
	width: 100%;
	height: 100vh;
	background-color: aqua;
	
	position: absolute;
	top: 0;
	left: 0;
}
@media all and (min-width: 1440px) {
	#container{
		background-color: aqua;
		width: 1400px;
		height: 95vh;
		
		position: absolute;
		top: 2.5vh;
		left: calc((100% - 1400px)/2);
	}
}
/* #endregion */

/* #region aside */
#container aside{
	width: calc(370px);
	height: calc(100%);
	float: left;
}
#container aside .myProfile{
	width: 100%;
	height: 60px;
}
#container aside .spamNotification{
	width: 100%;
	height: 85px;
}
#container aside .searchContact{
	width: 100%;
	height: 50px;
}
#container aside .contact{
	background-color: #fff;
	width: 100%;
	height: calc(100% - 60px - 85px - 50px);
}

/* #endregion */

/* #region main */
#container main{
	width: calc(100% - 370px);
	height: calc(100%);
	float: left;
}
#container main .profileConversator{
	width: 100%;
	height: 60px;
}
#container main .mainChat{
	background-image: url("../img/mine.jpg");
	width: 100%;
	height: calc(100% - 60px - 60px);
	overflow-y: auto;
}
#container main .newMesage{
	width: 100%;
	height: 60px;
}
/* #endregion */
/* #endregion */

/* #region ASIDE */
/* #region myProfile */
aside .myProfile{
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	border-right: 1px solid #DADADA ;
	background-color: #EDEDED;
	box-sizing: inherit;
}
aside .myProfile .left, aside .myProfile .right {
	margin: 0 20px;
}
aside .myProfile .right i{
	margin-right: 10px;
}
aside .myProfile .left img{
	height: 40px;
	border-radius: 50%;
}

aside .spamNotification{
	background-color: #9DE1FE;
	display: flex;
	align-items: center;
}
aside .spamNotification i{
	color: #9DE1FE;
	background-color: #fff;
	border-radius: 50%;
	padding: 12px;
	font-size: 18px;
	margin: 0 10px;
}


aside .searchContact{
	background-color: #F6F6F6;
	display: flex;
	justify-content: center;
	align-items: center;
}
aside .searchContact input{
	width: 92%;
	background-color: #fff;
	padding: 10px;
	border-radius: 20px;
	border: 0;
}

aside .contact{
	overflow-y: auto;
}
aside .contact .chat {
	height: 70px;
	width: 100%;
	background-color: #EDEDED;
	position: relative;

	display: flex;
	align-items: center;
}
aside .contact .chat img{
	width: 40px;
	margin: 0 15px;
	border-radius: 50%;
}
aside .contact .chat .nameAndInfo{
	height: 70px;
	width: calc(100% - 90px);
	border-bottom: 1px solid #DADADA ;

	display: flex;
	justify-content: center;
	flex-direction: column;
}
aside .contact .chat .nameAndInfo h3, aside .contact .chat .nameAndInfo p{
	margin: 0;
}
aside .contact .chat .data{
    position: absolute;
    top: 16px;
    right: 14px;
    font-size: 12px;
    color: grey;
}
/* #endregion */
/* #endregion */


/* #region MAIN */
main .profileConversator{
	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: #EDEDED;
	box-sizing: inherit;
}
main .profileConversator .left {
	margin: 0 20px;
}
main .profileConversator .right i{
	margin-right: 30px;
}
main .profileConversator .left img{
	height: 40px;
	border-radius: 50%;
}


main .mainChat{
	padding: 0 9%;
    display: flex;
    flex-direction: column;
	justify-content: flex-end;
}
main .mainChat .dataAndCheck{
	position: absolute;
    bottom: 3px;
    right: 10px;
    font-size: 11px;
	color: grey;
}

/* mandato sent */
main .mainChat .message.sent{
	position: relative;
	padding: 6px 75px 8px 9px;
	margin: 10px 0;
	background-color: #DCF8C6;
	border-radius: 7.5px;

	align-self: flex-end;
	display: inline-flex;
	align-items: center;
}
main .mainChat .message.sent i.triangolino{
	position: absolute;
	font-size: 20px;
    top: -7px;
    right: -6px;
	color: #DCF8C6;
}
main .mainChat .message.sent .dataAndCheck i.check{
	margin-left: 5px;
	color: grey;
}
/* ricevuto received */
main .mainChat .message.received{
	position: relative;
	padding: 6px 60px 8px 9px;
	margin: 10px 0;
	background-color: #fff;
	border-radius: 7.5px;
	
	align-self: flex-start;
	display: inline-flex;
	align-items: center;
}
main .mainChat .message.received i.triangolino{
	position: absolute;
	font-size: 20px;
    top: -7px;
    left: -6px;
	color: #fff;
}
main .mainChat .message.received i.check{
	display: none;
}



main .newMesage{
	display: flex;
	align-items: center;
	background-color: #F0F0F0;
}
main .newMesage i{
	text-align: center;
	width: 50px;
	color: #919191;
	font-size: 20px;
}
main .newMesage input{
	width: calc(100% - 150px);
	background-color: #fff;
	padding: 10px;
	border-radius: 20px;
	border: 0;
	color: #919191;
}
/* #endregion */